@import "./variables";
html, body{
    padding:0;
    margin:0;
    height: 100%;
   // background-color: $eventBackground;
  // overflow-x: hidden;


}

:global(.ant-btn) {
  background-color: red;
  &:hover {
    background-color: var(--secondary-hover-color) !important;
    border-color: var(--secondary-hover-color) !important;
  }
}