@import "../../variables";

.button {
  & .ant-btn{
    background-color: $secondaryColor;
    color: white;
    border-color: $secondaryColor;
    &:hover{
       background-color: $transparentSecondaryColor;
    }
  }



  &--outlined {
    & .ant-btn {
      background-color: transparent;
      color: white;
      border-color: $secondaryColor;
    }

    & .ant-btn:hover {
      background-color: $transparentSecondaryColor;
    }
  }



  &--link {
    & .ant-btn {
      color: $secondaryColor;
    }
  }
}
